body {
    background-color: rgb(173, 95, 247);
    font:  15 pt arial;
    color: rgb(12, 12, 12);
}

header {
    text-align: center;
    
}

section {
    background: rgb(247, 233, 233);
    border-radius: 18px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(31, 10, 10, 0.753);
}

div {
    text-align: center;
    padding: 8px;
}

footer {
    text-align: center;
    font-style: italic;
}